<h1>editer</h1>

<% if @task.invalid? %>
  <div class="alert alert-danger">
    <% @task.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>


<%= render partial: 'form' %>
